{% extends "smithers_page.jinja.html" %}
{% block smithers_content %}

  <h1 class="page_title">Preparing and Giving a Good Talk</h1>
  <p>By Steven Swanson (<a href="mailto:swanson@cs.uscd.edu">swanson@cs.uscd.edu</a>)</p>
<p> Giving talks is an essential skill in graduate school that will serve
  you well regardless of what career route you end up selecting.&nbsp; It
  is a hard fact of research that ideas do not sell themselves, no matter
  how good they are.&nbsp; If you want your work to have impact, you must
  be
  able to communicate why it is important and why your contribution is
  valuable.&nbsp; You also must convince your audience that<span
 style="font-style: italic;"> you</span> and your research group are
  credible.&nbsp; Giving a well-structured, informative, and entertaining
  talk will serve all these of these ends. <br />
</p>

<p>In most cases, new graduate students have not had experience giving presentations that rise to the standard expected of Ph.D-level researchers. That's OK, since you will learn to prepare and deliver talks  in my group over your time in graduate school. This takes time and effort.</p>

<p> If you are working with me and we plan a practice talk, I expect that
  you have read this document carefully (including the additional
  resources), taken all of this advice into
  account, and, to the best of your ability, applied it to your
  talk.&nbsp; Everything I've included here are comments I have given
  during many practice talks that I've attended at UCSD.&nbsp; Getting it
  out
  of the way to begin with will make your talk better and allow it to
  improve more quickly.&nbsp; I also expect that during the run up to a
  big talk, you
  should be giving several practice talks per day to yourself, to me, or
  to another audience.</p>
<h2>First Steps</h2>
<p>When you first learn you will be giving a talk.</p>
<ul>
  <li><strong>Read this document. </strong>You should pay close attention to the next three section, especially, before you start crafting your talk.</li>
  <li><strong>Consider your preparation timeline. </strong>In my experience it takes at least 5-6 practice talks with me to get a talk into decent shape. In addition you should plan on giving a practice to other grad students and to the architecture seminar. All together this means that preparing the talk takes betwee 3-4 weeks. It can be done more quickly (e.g., with daily practice talks with me and doing nothing but working on slides, etc.), but it's not pleasant. Give yourself plenty of time. </li>
  <li><strong>Find out precisely how long the talk will need to be</strong>.  Conference talks are between 15 and 25 minutes long + 5 minutes for questions. Five minutes one way or another makes a big difference. I will, without fail, ask how long your talk is supposed to be. Be sure you know the answer.</li>
  <li><strong>Know your audience (offense). </strong>Depending on the forum, the focus of your talk will be very different. You would give a very different talk at Supercomputer than you would at Micro, because the audiences are interested in different things. A talk a research lab would be different still, and a talk at a non-research-oriented company would be, again, different. If you ignore you audience's interests, you will bore them.</li>
  <li><strong>Know your audience (defense). </strong>Is there anyone in your audience you are likely to make upset? Whose ideas you are challenging? Whose work you should be sure te mention? Who tends to ask difficult questions? Are you giving a talk to a group whose expertise is outside your core competence? Beware of all of these possibilities, and prepare with them in mind.</li>
  <li><strong>Gather existing slides</strong>. Your research group has probably generated slides covering the topic already. You can and should use these. However, they will likely need to be reshaped to fit your talk.  Reuse is good.</li>
  <li><strong>Read over the paper. </strong>We have carefully crafted the argument and flow of the paper. Consider using a similar flow in your talk. Also look closely at how we explained any particularly tricky points. You might be able to resuse them as well. Keep in mind, however, that papers and talks are very different and what works one place may not work in the other.</li>
</ul>
<h2>General advice</h2>
<p>Many aspects of giving a talk don't change much from venue to venue and
  talk to talk.&nbsp; I've listed a set of good guidelines and best
  practices that apply to almost all talks.&nbsp; They are in no
  particular order.</p>
<ul>
  <li><span style="font-weight: bold;">Be positive</span>:&nbsp; You
    are
    presenting you and your group's work.&nbsp; Present it
    positively.&nbsp;
    Do not
    spend time dwelling on shortcomings of your work.&nbsp; As the
    researcher
    behind the work you are presenting, you are aware of many small
    problems or limitations of the work.&nbsp; These are not the important
    points, even though they may play a prominent role in your day-to-day
    work.&nbsp; Focus on the big picture and
    the
    quality of the problem you are attacking and the contribution you are
    making.&nbsp; Audience members are critical enough and will be looking
    for
    holes in your argument.&nbsp; You don't need to help them out.&nbsp;
    This rule
    applies regardless of venue and audience.</li>
  <li><span style="font-weight: bold;">Don't be negative</span>:&nbsp;
    If you are going to say <span style="font-style: italic;">anything</span> negative about your research you should think very carefully about
    it.&nbsp;
    People will question the positive claims you make and think about them
    critically.&nbsp; However, if you say something negative, they will
    take you at
    word,
    and likely infer that there is more wrong with your work than you have
    let on.</li>
  <li><span style="font-weight: bold;">Be gracious to questioners</span>:&nbsp;
    It is essential that you treat people who ask questions with respect
    and do your best to answer their question.&nbsp; However, keep the
    "don't be
    negative" point in mind.&nbsp; Do not be too quick to agree if the
    questioner identifies a supposed shortcoming in your work.&nbsp; Think
    carefully about what they have said and offer a measured
    response.&nbsp; If necessary, offer to take the question "offline."<br />
  </li>
  <li><span style="font-weight: bold;">The first slide</span>:&nbsp;
    The first slide is the most important.&nbsp; This is your title
    slide.&nbsp; It is the only slide during which you have almost
    everyone's
    attention.&nbsp; As you soon as you go to slide 2, you will lose many
    of them, so use this slide to hook them.&nbsp; While this slide is up,
    you should give a 2-3
    sentence description of the problem you're solving, your contribution,
    and your results.&nbsp; Make sure that the verbiage on this slide is
    polished to perfection.&nbsp; Also, be sure to thank the rest of your
    lab mates</li>
  <li><strong>Before your first slide</strong>: When you plug in your laptop, your first slide should come up. Not some other slide. Not power point toolars. Not your desktop.</li>
  <li><span style="font-weight: bold;">Laser pointers</span>:&nbsp;
    Laser pointers have no use in prepared presentations.&nbsp; None.&nbsp;
    Powerpoint and Keynote provide flexible animation facilities, so if you
    need to highlight something in your talk, use them.&nbsp; Laser
    pointers are hard to see, exaggerate shaking hands, and require too much
    of your mental effort to use.&nbsp; Laser pointers are useful for
    answering questions, however, so you should have one handy (probably
    built into your talk remote)</li>
  <li><span style="font-weight: bold;">Backup slides</span>:&nbsp;
    During practice talks and through experience giving a talk multiple
    times, you will notice that certain questions come up frequently.&nbsp;
    If you have not integrated them into the talk itself, you should
    prepare back up slides to answer them.&nbsp; Whipping out a backup
    slide for a tricky question makes you look very
    smart and well prepared.</li>
  <li><span style="font-weight: bold;">Remote control</span>: Use a
    remote control to control your laptop during the talk.&nbsp; You should
    not be tethered to your laptop.&nbsp; Indeed, you should not even need
    to look at your laptop while giving the talk.&nbsp; Remote controls are
    cheap and well worth it.&nbsp; Get one with a laser pointer (but don't
    rely on it).</li>
  <li><span style="font-weight: bold;">Pay attention to detail:<span
 style="font-style: italic;">&nbsp; </span></span>Everything about
    your talk is reflection on you and on our lab.&nbsp; If your slides
    looks sloppy or contain typos, people will question your
    competence.&nbsp; It may not be fair, but it is true.&nbsp; In
    addition, typos are distracting and confusing.&nbsp; You never, ever
    want your audience to be distracted or confused.</li>
  <li><span style="font-weight: bold;">Choose your tools wisely:<span
 style="font-style: italic;">&nbsp; </span></span><span
 style="font-style: italic;"><span style="font-style: italic;"></span></span>Use
    PowerPoint or Keynote to prepare your slides.&nbsp; They provide the
    best support in terms of interoperability.</li>
  <li><span style="font-weight: bold;">Be prepared</span>:&nbsp; Always
    travel with a VGA adapter if your computer needs one.&nbsp; Always have
    a power supply.&nbsp; Always have your talk remote.&nbsp; Always have a
    USB key with backups of your slides in PowerPoint and/or PDF.&nbsp; If
    you are mac user, make sure USB key is formatted with a file system
    that a windows machine can read.</li>
  <li><span style="font-weight: bold;">Phrasing is important</span>:&nbsp;
    Pay attention to how your advisor, other professors, and senior
    students describe their work.&nbsp; Careful phrasing can avoid
    strategic pitfalls and parry difficult questions.&nbsp; In many cases
    it is about choosing what to emphasize when and to whom.&nbsp; If you
    have a question about why someone explained something in a particular
    way, ask.</li>
</ul>
<h2>Types of talks</h2>
<p>There are severalkinds of talks that you will frequently give:
  conference talks presenting your work, talks at another research lab or
  university about your work, and job
  talks that you give to get a job at a research lab or university. There are also some &quot;one off&quot; talks you'll have to give for your research exam, thesis proposal, and defense. </p>
<h3>Conference talks</h3>
<p>Conference talks are among the most important venues for promoting your
  work.&nbsp; These talks provide you with visibility in the community
  and give you a platform&nbsp; from which to promote your and your
  groups ideas. Therefore, it is essential that they be very highly
  polished.</p>
<p> These talks are usually relatively short (20-25 minutes)
  and not very interactive, except for questions at the end.&nbsp; Do not
  go over time. </p>
<p> Conference talks pose some particular challenges:&nbsp; Your talk will
  be one among many (so the audience may be fatigued) and much of the
  audience will be distracted by other talks in parallel sessions, their
  friend or collaborator they have not seen in months and want to catch
  up with, or the grant proposal they are hacking on on their
  laptop.</p>
<p> All of this means that your presentation must be especially good in
  order to make a strong, positive impression.&nbsp; It must also be
  structured so that people can tune in and out without being
  totally lost.</p>
<p> The first thing to understand is that your goal is to get them
  interested in the work, not tell them everything thing there is to know
  about it.&nbsp; You want to whet their appetite and get them to read
  the paper.&nbsp; You should hit the high points, skip over many (but
  not all) details, and really drive home why your problem is interesting
  and your contribution is meaningful.<br />
<h3>Talks at research labs/other universities</h3>
These talks are similar to the conference talks in that they are
important to your career and promoting your work.&nbsp; They differ in
several key respects:
</p>
<ol>
  <li>They are longer.&nbsp; Typically you will be expected to prepare
    about 50 minutes of
    content.&nbsp; Do not go over.&nbsp; Any remaining time will go to
    questions because...</li>
  <li>these talks are also more interactive.&nbsp; People will interrupt
    you to ask questions.&nbsp; Be prepared.</li>
  <li>The audience is more diverse.&nbsp; This will vary depending on
    the venue, but in large research labs and universities you should
    expect the audience to have many folks who are not experts in your
    particular field.&nbsp; This means you may need more introductory
    content.&nbsp; Since the composition of your audience may vary, it's a
    good idea to ask your host about the composition ahead of time.</li>
  <li>Diverse audiences lead to more interesting, varied, and harder
    question.&nbsp; This can be both fun and stressful.&nbsp; Be prepared.<br />
  </li>
</ol>
<h3>Job talks</h3>
<p>Job talks differ from other talks you will give in several important ways and they require a very different approach. Exactly what is required will vary by the type of job. All of this section applies to academic job talks and job talks at industrial/goverment research labs. </p>
<ul>
  <li>The audience for your talk is quite broad. This especially true for academic job talks. For these your audience will include all kinds of CS folks and (depending on the departement other folks as well). </li>
  <li>In fact, your real audience is, specifically, these non-experts-in-your-field.  If you have the interview, the folks in your feild are already substantially on your side. It's the theorists (for instance) that you really need to win over. However, you still need to make it clear to those in your field that you are rock solid.</li>
  <li>The goal of the talk is different. It is to sell <em>you</em> not the research per se. This means that they care about what kind of work you like to do and how you like to go about it. They care about what kind of things you'll do in the future, what you think the important problems are, and why you are the best person to attack them.</li>
  <li>The emphasis is on the impact and value of your body of work rather than a particular paper.</li>
  <li>The standard of polish required for a job talk is very, very high.</li>
</ul>
<p>These difference mean that the content of your talk will change. A job talk shoul have the following features:</p>
<ol>
  <li>You must motivate your work from first principles. Imagine someone hearing your talk who is from the area of CS farthest from your own. You must frame the problem, present necessary background, and explain your solution in terms that they will understand. Motivating from first (or maybe second) principles is important even when talking to experts. They don't know your work. They may not even know the related work. Even if they do, they probably don't know the details as well as you. What you think is obvious maybe quite foriegn to them.</li>
  <li>You must also motivate what the Big Questions are that you are addressing. Why should the rest of CS care about your work? Why should the rest of the world?</li>
  <li>You must demonstrate to folks in your area that you are rock solid. This means that for a brief segment of your talk, you should be talking to the experts in the expert's language. During this portion of the talk, you will probably lose some of your audience. That's ok. However, must make it clear where this section begins and, more important, where it ends so the non-experts know when to tune back in.</li>
  <li>You must frame your vision for future research. You've done the work you've described, so what's next? What's the next Big Problem you are going to solve. </li>
</ol>
<h3>Research Exams</h3>
<p>Your research exam talk is different from other talks you will give because its goal is to demonstrate that you have mastered an area of knowledge in addition to presenting some of your own work. Everything else in the document applies as well, but there are few particular things you should pay attention to (these apply to the written document too).</p>
<ol>
  <li><strong>Remember your audience</strong>. You should target your research exam talk at other graduate students in your area.</li>
  <li><strong>Synthesis is the key</strong>. The goal of the research exam is to show that you can gain mastery of a field and draw out the key challenges that are facing that field. In almost every research exam I attend, I am disappointed by lack of good synthesis.</li>
  <li><strong>Avoid the laundry list</strong>. Research exams have a tendency to turn into laundry lists of project descriptions (Research X did Y. It had characteristics A and B.  Researcher Z did P. It had charecteristics C and D). There are two problems with this. First, it is very boring. Second, it represents a real lack of synthesis. A better organization might focus on broad themes or approaches and how different projects relate to that theme.</li>
  <li><strong>Consider a taxonomy.</strong> A common and effictive structuring technique in this kind of talk is to create a taxonomy. This means identifying the critical questions or features that separate different systems. For instance, for processors one question might be &quot;How does the processor exploit ILP?&quot; and potential answers might be &quot;it doesn't,&quot; &quot;OOO execution,&quot; and &quot;VLIW.&quot;  Another question might be &quot;What kinds of ILP can it exploit?&quot; Keep in mind that the main contribution of the taxonomy is not the categorization of systems it provides, it is the questions themselves. </li>
  <li><strong>Include some of your own work.</strong> Current guidelines for the research exam allow it to include a large quantity of the student's own work. You should do so. If you've built a taxonomy be sure show how your work fits into the taxonomy.</li>
</ol>
<h3>Thesis Proposal</h3>
<p>Your thesis proposal talk is different from most other talks you will give because one of its goal is to describe and motivate the future work will be doing for your thesis in addition to describing what you have done so far. The aim of the proposal is to convince your committee that you have a credible plan to complete enough of work of sufficient quality to warrent receiving an PhD. The talk should have four parts:</p>
<ol>
  <li><strong>Remember your audience</strong>. The target audience for your thesis proposal is complex: it includes grad students (CS, non-experts-in-your-field), your committee (CS experts in your field), and your external committee member (probably non-CS). Your talk needs to be accessible to all of them, but it ok to lose the non-expects for a bit near the end.</li>
  <li><strong>Motivation of the area in general</strong>. Why is your general area of researh interesting and important?  Why should other researchers care about it? How is it going to make the world a better place? You have probably alreading given this motivation at a conference. Use those slides as a starting point.</li>
  <li><strong>A description of your work in the area to date</strong>. Describe the motivation for each of the projects/papers you've do so far and how they related to your overall motivation. Summarize the results and, more importantly, the insights you gleaned from the work. Those insights will lay the ground work for the new work you are going to propose and fill in the structure and argument of your thesis.</li>
  <li><strong>Describe the work that remains to do on your thesis</strong>. Typically, (at least in architecture) this should be an outline of 1-2 more papers' worth of work that you will do to complete your thesis. Since you have not yet done the work, the committee will not expect you to have results for it, but it is absolutely critical that you be able to motivate why this is good work to do. At this point in your graduate career you should be an expert in your  area. You need to demonstrate this by showing that you have expertly selected the next thing to work on. Selecting good problems is perhaps the most improtant skill to have as a researcher, since it is not possible to do good, interesting research on boring questions.</li>
  <li><strong>Give a timeline for completion of your thesis</strong>. This should lay out about when you expect the work to be complete and when/where you expect to publish it. Make sure that the time line is reasonable.</li>
</ol>
<p>As with all other talks, you need to craft a story that ties all of the above together. This means for instance, that you might change how you describe and motivate your early work to support your choice to pursue the work still to come. Your story does not need to reflect the actual story of how you came to do the research you did -- it is no a history lesson.  It's motivation.</p>
<p>Be sure to give several practice talks, preferably to audiences that include students who have been through a proposal previously.</p>
<p>Finally, make sure you put enough effort into producing a highly-polished presentation. Your committee will form an opinion about how good they expect your thesis to be based on this talk. If you gave a sub-par proposal, you may well pass, but you will raise red flags in your committees mind that may remain through your defense. Your goal is to do such a good job that your committee is not at all concerned about your ability to produce an outstanding thesis.</p>
<h2>Organizing your talk</h2>
<p> A talk requires a much stronger organization than a paper.&nbsp; Reader
  can skip back and forth and re-read sections they don't understand,
  etc.&nbsp; In a talk, the audience gets one chance to understand
  whatever you
  are presenting, and if you lose them it unlikely you will get them back
  unless you have carefully constructed your talk.<br />
</p>
  <h3>The Story</h3>
<p> Every talk tells a story.&nbsp; You are taking the audience on a little
  trip through your research.&nbsp; In order to keep them interested, the
  story must be engaging, interesting, and at least somewhat
  entertaining.&nbsp; In addition, you must convince the members of the
  audience that it is worth listening to your story.</p>
<p> You should think of you talk as leading the audience through your
  story.&nbsp; In most cases, you should assume that the audience knows
  very little about your research or even your research area.&nbsp; You
  talk needs to take them, one step at a time, from the general field of
  computer science into the details of your work.&nbsp; You are going to
  take them on a tour of what is cool and interesting about what you've
  done.&nbsp; You want to get them interested, to stimulate thought, and
  make them think your contributions are valuable.</p>
<p> This means that you should not just present your work and your
  results.&nbsp; You need to frame your work in context and tell the
  audience what conclusions they should draw.&nbsp; Framing your work
  sets the stage for how they will think about your work.&nbsp; The
  audience will bring their own expectations and prejudices when they
  watch your talk.&nbsp; Properly setting the stage by explaining why
  your work is interesting and important can help dispel or at least
  counteract these.</p>
<p> Likewise, allowing the audience to draw their own conclusions about
  what you've done, might result in their drawing the wrong
  conclusions.&nbsp; Do not expect that they will have the correct
  insights about what you've done or automatically draw the connections
  between your work and other areas.&nbsp; Remember, what is obvious to
  you (who have worked on this topic for months or years) may be
  completely foreign to the audience.</p>
<p> Successfully managing your audience also means not letting them get
  distracted.&nbsp; It is likely that some key parts of your research may
  be somewhat controversial.&nbsp; That's great!&nbsp;&nbsp; Controversy
  gets people interested.&nbsp; However, since controversy is so
  interesting, the only controversial points in your talk should be ones
  you want your audience to focus on and think about.&nbsp; Everything
  else should be conventional and easy to swallow. </p>
  <h3>Time management</h3>
<p> You will have a time budget for your talk and you <span
 style="font-style: italic;">must</span> stay within it.&nbsp; Going
  over time is among the most damaging and easily prevented mistakes to
  make while giving a talk.&nbsp; To stay under budget you must do two
  things.&nbsp; First, you must practice your talk so that it is under
  the budget.&nbsp; Time every practice talk.</p>
<p> Second, you must know how to shorten your talk while you are
  giving.&nbsp; This means adapting to time lost to questions and any
  other unexpected occurrences.&nbsp; To accomplish this, you need to have
  identified slides or parts of slides that you can skip and still
  deliver the key message of the talk.&nbsp; You should actually rehearse
  this, since it is very difficult to diverge from your "script" once it
  set in your head.&nbsp; If you don't rehearse, you will end up rushing
  through content, which makes it look like you've lost control (because
  you have).<br />
</p>
  <h3>Introduction and motivation</h3>
<p> After the all-important first slide (see above) you need to motivate
  the problem you are working on.&nbsp; Why is it important?&nbsp; Why
  should the audience care?&nbsp; The stronger the case you can make the
  better.&nbsp; If you can credibly argue that solving your problem will
  save lives or billions of dollars, do so.&nbsp; If it can save millions
  of lives, even better.</p>
<p> After the motivation, the content of the talk will vary quite a
  lot.&nbsp; You might present the details of your solution, a
  description of the system you built, and/or your methodology and
  results.<br />
</p>
  <h3>Level of Detail</h3>
<p> A common problem in grad student talks is assume that the audience is
  more knowledgeable about your area than they are.&nbsp; With few
  exceptions, even an audience of experts will have no experience at all
  with the details of how <span style="font-style: italic;">you</span> are framing the problem you are attacking, your experimental setup, or
  your workloads.&nbsp; Indeed, much of the audience at a conference may
  have very little experience with the area you are working in.</p>
<p> You need to lead your audience through your formulation of the problem,
  your criteria for success (if applicable), your approach to solving it,
  and your methodology.&nbsp; Even if the audience is knowledgeable, some
  of this hand holding is still valuable:&nbsp; If they know a lot about
  the area, they will come with their own prejudices and
  preconceptions.&nbsp; This makes it even more important to clearly
  state where you are coming from.</p>
<p> A good target to aim for is that you are preparing a talk to give to
  your
  grandparent. I exagerate a little bit, but keep this in mind: You have been living and breathing your research for months and your audience is just now learning about it. More background and handholding is necessary than you think. </p>
  <h3>Peaks and Valleys</h3>
<p> Regardless of what this central portion of your talk needs to cover, it
  needs to be broken into manageable pieces.&nbsp; To the extent
  possible, these pieces should be self-contained and they need to be
  separated from one another by a good transition.&nbsp; A good
  transition has three parts:<br />
</p>
<ol>
  <li>A summary of what you have just presented.&nbsp; Assume your
    audience zoned out or got lost during this section of the talk.&nbsp;
    Give them a 1-2 sentence summary of what you said and what it means.</li>
  <li>An orientation of where you are in the talk and where you are
    about to go.</li>
  <li>A very brief preview of what you are going to talk about next. <br />
  </li>
</ol>
The transitions do not just occur on the slides.&nbsp; They also need
  to be reflected in the language you use, your cadence of speech, and if
  you really want to drive it home, your body language.&nbsp; This does
  not mean that you should shout or jump around, but that you might move
  to a different spot on the stage, or take a pause and then say
  something like "Alright, so we've just seen that the wonderwidget is
  multiphasic in modern process technology.&nbsp; Next, I'm going to
  describe how we integrated the wonderwidget into the flux capacitor to
  increase monad covariance."
  </p>
  <p> These transitions are what allow the audience to re-engage if they've
  drifted off.</p>
  <p> My advisor referred to these transitions and other key portions of the
  talk as "peaks" and the stuff in between as "valleys."&nbsp; The peaks
  are the high-order bits, the bullet points you'd deliver if you had 30
  seconds.&nbsp; The valley's are the details that make people believe
  what you are doing and that your work is credible.&nbsp; Also, the
  peaks are aimed at a broader audience while parts of the valleys might
  only make sense to people working in the same subdiscipline.&nbsp; What
  is important is that it be very clear from you slides and your words
  where the peaks and valleys are.<br />

  <h3>The conclusion</h3>
  <p> The conclusion caps off a your talk by drawing the completed picture of
  your work for the audience.&nbsp; Like the introduction, it is a
  summary of the talk, but unlike the introduction, the audience has now
  seen the work.&nbsp; Recap the key contributions, any new and
  interesting questions that you discovered, and key results.</p>
  <p> The conclusion is the last bit of the talk that people will hear, so
  it's important that you end on an up note.&nbsp; This means the last
  thing you say should reflect positively on your work <span
 style="font-style: italic;">and</span> you should sound upbeat.&nbsp;
  The conclusion should also be highly polished so you leave the audience
  with a sense that you are a good speaker.</p>
  <p> Once that's all complete, ask if there are any questions.</p>
  <h2>Practice Talks</h2>
The key to giving a good talk is practice.&nbsp; There is no way around
this, and it is not negotiable.&nbsp; I expect my students practice
their talks diligently and repeatedly.
</p>
<p> I divide practice talks into three categories:<br />
<ol>
  <li><span style="font-weight: bold;">Talks to yourself</span>:&nbsp;
    These are by far the most numerous, and
    they are where you refine your words, work through difficult
    transitions, generally polish your talk.&nbsp;&nbsp; You should also
    record yourself giving the talk and watch
    yourself give it.&nbsp; The lab has a<a href="TapingTalks.html"> video camera and tripod</a> you can
    borrow for the purpose.&nbsp; When you watch yourself give your talk,
    things will jump out at you.&nbsp; Do you shift
    on your feet annoyingly?&nbsp; Do you say "um" over and over?&nbsp; Do
    you repeat things?&nbsp; For your first conference talk, you
    should give the talk at least 20-30 times on your own.&nbsp;&nbsp; No,
    I'm not kidding.&nbsp; <br />
  </li>
  <li><span style="font-weight: bold;">Talks to your advisor</span>:&nbsp;
    These are the second most numerous
    practice talks.&nbsp; I would expect to have 4-6 of these for a first
    conference talk.&nbsp; These talks are for crafting the high-level
    message of the talk and working through difficult bits.<br />
  </li>
  <li><span style="font-weight: bold;">Talks to an audience</span>:&nbsp;
    You should give 2-3 talks to
    audiences comprised of other grad students and/or other professors in
    the department.&nbsp; These talks are great for getting an outside
    perspective on your talk and the material.&nbsp; People attending these
    talks are doing you a favor.&nbsp; For both these reasons, using the
    same audience repeatedly is not ideal.&nbsp; Try to break it up:&nbsp;
    One talk to your lab, another to grad students in general.&nbsp;&nbsp;
    Since they are doing you a favor, bring them some food.&nbsp; You are
    responsible for scheduling these talks</li>
</ol>
To be most effective, talks to an audience should be as close to a
simulation of the real talk as possible.&nbsp; This means you should
use the same laptop, remote, display adapter etc. that you will using
during the real talk.&nbsp; You should assume that you laptop will not
be plugged in during your talk and you should be sure that your battery
can handle it.
</p>
<p> Practice talks are also an important component of preparing your
  slides,
  and it is often a good idea to reshape your slides to match your
  words.&nbsp; Your slides are an supplement to the words you are going
  to say, and no matter how carefully planned out your slides may be,
  they
  may not match up with words you need to say with them.&nbsp; The words
  you speak need to flow naturally, and that means that, to some extent,
  the talk's flow must match your own internal understanding of how the
  ideas fit together.&nbsp; If you diverge too far from this innate,
  internal
  version of the talk, it will take much more work to get your words
  flowing smoothly.</p>
<p> While writing your talk, you should experiment with the slides by
  talking through them and seeing how they flow.&nbsp; What useful visual
  aid is missing from the slide?&nbsp; When exactly should that
  transition occur?&nbsp; When doing this you need to talk out loud --
  really giving the talk, not just mumbling through it in your
  head.&nbsp;
  Doing this correctly will allow your words and the slides to grow
  together organically and will help ensure smooth delivery.<br />
<h2>The slides</h2>
The first thing to understand about slides is that they are <span
 style="font-style: italic;">not</span> the talk.&nbsp; The are a set
of visual aids for the talk, and they deserve as much attention as any
other aspect your work.&nbsp; Bad slides will turn off an audience just
as fast as mumbling or rambling.
</p>
<p> Key characteristics of good slides:<br />
<ol>
  <li><span style="font-weight: bold;">They should be 4x3 aspect ratio</span>:  Almost all projectors you'll use to give talks are 4x3, even though many monitors are "wide screen."  Design your slides for projectors, not computer monitors.</li>
  <li><span style="font-weight: bold;">They should be highly polished</span>:
    Your audience is going to stare at your slides for 20-25 minutes.&nbsp;
    They should be impressed.<br />
    <span style="font-weight: bold;"></span></li>
  <li><span style="font-weight: bold;">They have relatively few word</span>s:&nbsp;
    The audience will read your slides, and that will distract them from
    listening to you.</li>
  <li><span style="font-weight: bold;">They should illustrate key points</span>:&nbsp;
    A picture is certainly worth a thousand words in this case, unless it's
    difficult to understand, which case it is worse than useless.<br />
  </li>
  <li><span style="font-weight: bold;">They should be crystal clear</span>:&nbsp;
    Diagrams should be clearly labeled and easy to understand.&nbsp; Label
    the axes on your graphs.&nbsp; Things like drop shadows and 3D bar
    graphs are a distraction.<br />
  </li>
  <li><span style="font-weight: bold;">They should be numbered</span>:&nbsp;
    This makes it easier for people to refer back to your presentation
    during question sessions.</li>
  <li><span style="font-weight: bold;">They should easy to read</span>:
    Try your slides with several projectors.&nbsp; Can you read the
    fonts?&nbsp; Could you read the fonts from the back of an auditorium
    with a washed out projector. In general, you should assume that you will be giving your talk on the worst projector possible. The projector in 4219 is pretty terrible. Make sure they look good (or are at least legible) there.</li>
  <li style="font-weight: bold;">They should not have silly animated
    transitions between them.</li>
  <li><span style="font-weight: bold;">They should be in color</span>:&nbsp;
    The graphs you made for your paper won't do.&nbsp; You need to
    redo them in color.&nbsp; Be careful though, about 5% of American males
    are colorblind.</li>
  <li><span style="font-weight: bold;">They should be in a consistent
    style</span>:&nbsp; Use a tasteful slide "theme" and try to keep font
    and heading sizes uniform throughout.</li>
</ol>
<p>Number 9 extends beyond just fonts.&nbsp; It also includes the use of
  color, names, and symbols in graphs and diagrams.&nbsp; Where possible,
  you should use a consistent "visual vocabulary" so that if
  two things look different, they are different and if two things look
  the same, they are same.&nbsp; For instance, if you have multiple bar
  graphs that contain results for the same configurations, keep the
  coloring of the bars for each configuration consistent.&nbsp; Another
  example:&nbsp; If your work deals with speculation, use, for instance,
  blue to denote speculative operations or state and green to denote
  non-speculative state.&nbsp; Another example:&nbsp; If you use time
  lines or flow charts, they should always flow in the same direction
  (e.g., left to write).</p>
<h3>Animations </h3>
<p>Animations are a blessing and curse.&nbsp; They should be used
  sparingly to demonstrate algorithms, hardware operation, or changing
  logical relationships.&nbsp; Subtle animations can also be used to
  highlight key portions of a slide or to present a "punch line."&nbsp;
  Generally, you should only use is the "appear" animation, although
  there are certainly exceptions.&nbsp; You should (almost) never reveal
  bullet points one at a
  time on a slide.&nbsp; Animations also make it more difficult to
  convert talks into pdf's, and to move slides between different versions
  of Power Point and/or Keynote.</p>
<h3>Graphs and figures</h3>
<p>See the section on graphs and figures in my page about <a href="WritingPapers.jinja.html">writing papers</a>. Much of that advice applies to graphs for slides as well, with the exception that graphs for talks need to be in color. Generally speaking you will need to regenerate all the figures and
  graphs in the paper for the slides.&nbsp; The visual requirements of
  slides are very different than the printed page, do not try to reuse
  one for the other.</p>
<p>You may also want to remove, rearrange, or regroup data for the graphs in a talk. For slides, your graph should contain just the data you need to make your point (and put it in context), otherwise the audience may get distracted. For the paper, the graph should contain all the data.<br />
</p>
<h3>Slide Titles</h3>
<a name="titles"></a>
<p>Use your slide titles wisely. They should be descriptive of what is on the slide or summarize the main point of the slide.</p>
<p>Titles are one place that I frequently see room for improvement. They are often drab, out of date, or generic.  A good rule of thumb is to consider taking the first bullet point and making it the title of the slide.  This is especially true when there is only one top-level bullet point on the slide.</p>
<p>Titles should also change from slide to slide.  Your outline slide should define which section of the talk you are currently in, rather than your slide titles.  Use the slide titles to orient your audience within the current topic.</p>
<h3>Bullets</h3>
<a name="bullets"></a>
<p> Slides are mostly composed of bullet points.  They are a blessing and a curse.  Belew are some guidelines about bullet points.  None of them are unbreakable rules, but if you are violating them, you should think hard about whether it's needed.</p>
<ol>
  <li><span class="list_item_label">Nesting</span>Generally, you should not nest bullets more than two deep (i.e., there should be top bullets and sub bullets, not sub-sub-bullets).</li>
  <li><span class="list_item_label">Length</span>Ideally, your bullets would not wrap.  One line per point. </li>
  <li><span class="list_item_label">No single children</span>Generally, there should never be a single sub-bullet.  There should either be zero or at least two.  I get a great deal push back between this item and the "no wrapping" rule.  Learn to be brief.</li>
  <li><span class="list_item_label">Parallel structure</span>It's best if sub-bullets under a bullet should be of the same "type" in that they should all be, for example, advantages of your system, technical specifications, etc.</li>
  <li><span class="list_item_label">Consistent grammar</span>Either a set of sub-bullets are sentences or they are not.  Don't mix and match sentencse with non-sentences.</li>
</ol>
<h3>&nbsp; </h3>
<h2>Other resources</h2>
<p>Mark Hill has an good page about giving talks: <a
 href="http://pages.cs.wisc.edu/%7Emarkhill/conference-talk.html">http://pages.cs.wisc.edu/~markhill/conference-talk.html</a>.&nbsp;
  Skip the "how not to give a talk" portion. The double negatives it
  contains are confusing.</p>
<p>This <a href="http://research.microsoft.com/en-us/um/people/simonpj/Papers/giving-a-talk/giving-a-talk-html.html">collection of advice</a> is good as well but a little bit dated (you should not be writing your slides by hand on transparencies). Their advice about examples is especially good.<br />
  <a href="http://pages.cs.wisc.edu/%7Emarkhill/conference-talk.html"><br />
  </a><br />
</p>

{% endblock smithers_content %}
