{% extends "smithers_page.jinja.html" %}
{% block smithers_content %}

<h1><a name="Internships" id="Internships"></a>Internships</h1>
<p>It's pretty common for graduate students in my group to do internships. It's a great way to learn about how technology is being used in industry, and I encourage all my students to take advantage of that opportunity. In thinking about internships please keep the following notes in mind.</p>
<ol>
  <li><strong>Choose wisely.</strong> You want your internship to be interesting, educational, and to complement the work you are doing at UCSD. We should talk about what you want to accomplish and what companies would be a good match.</li>
  <li><strong>Do it early. </strong>The best time to do an internship is early in your grad school career (typically during the first 2 summers). It's possible to do them later, but the later you get in grad school, the more careful you need to be about where you go and what you'll be doing. If we can't find a really good match, your time is probably better spent staying at UCSD.</li>
  <li><strong>Talk to me first.</strong> Under no circumstances should you accept an internship without talking to me first.  I have contacts at most companies you might want to do an internship at, and I can help you through the application process.  I want my students to do internships at the best groups working on the most interesting projects, and I'm eager to help you achieve that.</li>
  <li><strong>Start planning in the fall. </strong> The intern hiring/recruiting season starts in late fall. During your first year (especially if you are a PhD student), you should plan on doing an internship during your first summer. That means you should talk with me about it during fall quarter.</li>
</ol>
{% endblock smithers_content %}
