{% extends "smithers_page.jinja.html" %}
{% block smithers_content %}
<h1><a name="meetings"></a>Lab Calendar and Meetings</h1>

<h2>The Lab Calendar</h2>

<p>All the meetings for the lab reside in the lab calendar (called "NVSL Calendar").  To access the calendar, open up Google Calendar and paste the following into the
"Add a coworker's/friend's calendar" box under "Other Calendars":</p>
</p><tt>eng.ucsd.edu_98mf9mpqua85dqh6d2jb3ugfhs@group.calendar.google.com</tt>

<h2>Scheduling Weekly Meetings</h2>

<p>Each quarter, we reschedule the group meetings.  Finding meeting times that work is a complicated problem, and in order to solve it, I need input from <b>everyone</b> in a timely manner.  If you have trouble following the instructions below (e.g., if you cannot access the NVSL or Gadgetron Planning calendars), you need to let me know ASAP, so we can figure out a solution.</p>

<p>Filling in your non-availability is required by all members of the group.  If you don't fill in your availability, you may not be able to make the group meetings, and that will severely limit your ability to participate in research.  In addition, you need to let me know if you schedule changes (e.g., if you add or drop a class).</p>

<p>Delays in filling in your schedule information will delay my setting the meeting schedule and, therefore, in everyone knowing what their schedule for the quarter will be.  Please do it promptly.</p>

  <p>To provide your non-availability, please open up the calendar named "NVSL Storage Planning" on @eng (if you work on storage-related stuff) or the calendar named "NVSL Gadgetron Planning" on @eng (if you work on Gadgetron-related stuff).  If you cannot see the calendar you need, you can type the following addresses into the "Add a coworker's/friend's calendar" box under "Other Calendars" in Google calendars:</p>

  <ul>
    <li>NVSL Gadgetron Planning: eng.ucsd.edu_u874terpcnj865d9ap68u73fj8@group.calendar.google.com</li>
    <li>NVSL Storage Planning: eng.ucsd.edu_l6fdpi770fvfhueo33k1fnda0o@group.calendar.google.com</li>
  </ul>

  <p>This should give you  access.  If you are having trouble, please send me email.  Please be sure to use your @eng account.  If you cannot access the calendar, and don't have an @eng account, send me an email with a <b>gmail</b> account that you will use it instead.</p>

  <p>Fill in times you will be typically be <b>not be</b> available for meetings during the week this quarter (e.g., during classes).  Be sure to include transit time as well (e.g., if you need to catch a bus or have a recurring appointment off campus that you need to travel to). Enter this information on the first week of the quarter (or the week immediately following spring finals week for the summer).  <b>Please do not creating repeating events for the whole quarter</b>.<p/>



<p>Once I've set the meeting schedule, <a href="http://goo.gl/XCILnk">this spreadsheet</a> will show which meetings you should attend.  Please check to make sure I didn't miss a conflict.</p>

<p>Finally, add yourself (with your @eng account, if you have one) to your meetings on the NVSL Calendar, so you will receive notifications when they are changed/canceld. This will also make them show up in your own calendar.  When you add yourself to a meeting, make sure to add yourself all instances of the meeting.  Also, if the meeting occurs once or twice (or more) times per week, you will need to add yourself to each of them.  If it asks if you want to notify the other attendees of the changes, please decline to avoid spamming everyone.</p>

{% if form %}
<p>Please use the week of <b>{{target_week}}</b> to enter your information.</p>

{{ wtf.quick_form(form) }}
{% endif %}

{% endblock smithers_content %}
