{% extends "smithers_page.jinja.html" %}
{% block smithers_content %}
<h1 >Advisorly Advice</h1>
<p>Steven Swanson (swanson@cs.ucsd.edu)</p>
<p >Grad school involves more than just doing research (although that's the main point), and it's not very well documented. To help with that, I've written up some advice and guidance on topics you'll face on your way to your PhD. If you have any questions, please contact me.</p>
<h2 >Topics in Depth</h2>
<p >The most important aspects of graduate school (after the research part) are the role you play in your research group and that I play as your advisor, giving talks, writing papers, and getting past the milestones on the way to your PhD. Here's my advice on each of those.</p>
<ol>
  <li><a href="Expectations.html">Group Expectations</a></li>
  <li><a href="GivingTalks.jinja.html">Giving Talks</a></li>
  <li><a href="WritingPapers.jinja.html">Writing Papers</a></li>
  <!-- <li><a href="ResearchExams.html">The Research Exam</a></li> -->
</ol>
<h2 >Other Stuff</h2>
<p >This stuff is a little less important than the items mentioned above, but knowing about them will still make your life easier. They are all described below in their own sections, but here's a table of contents:</p>
<ul>
  <li><a href="#NSF">NSF Fellowships</a></li>
  <li><a href="#recs">Recommendations</a></li>
  <li><a href="#jobs">Applying for a Academic/Research Lab Job</a></li>
  <li><a href="#TapingTalks">Taping Talks</a></li>
  <li><a href="#Laptops">Laptop Policy</a></li>
  <li><a href="#Seminar">Running the architecture seminar</a></li>
  <li><a href="#semiannual">Semi-Annual Reviews</a></li>
  <li><a href="#faculty">Scheduling Meetings With Multiple Faculty</li>
</ul>
<h2 ><a name="NSF" id="NSF"></a>NSF Fellowships</h2>
<p>The National Science Foundation has an excellent fellowship program for US citizens/Permanent Residents that is open to students early in their grad school career. You should apply for one during your first and (if you don't get one) second years. They are very prestigious, and would be quite a feather in your cap if you could land one.</p>
<p>Applicants must be US citizens/nationals, or permanent residents by the application deadline. Individuals are typically eligible to apply:</p>
<ul>
  <li> during their senior year of college,</li>
  <li> after graduating from college and prior to entering graduate school, </li>
  <li>during the first year of graduate school, </li>
  <li>or
    prior to completing the Fall term of the second year of graduate school.</li>
</ul>
<p>Details about these eligibility criteria are included in the GRFP solicitation which you should be able to find by googling for &quot;NSF graduate research fellowship.&quot; It is your responsibility to track the fellowship deadlines and back-calculate the deadlines for letters etc. that I describe below.</p>
<h3>Applying for an NSF GRF</h3>
<p>You should start thinking about your application in September (right after school starts). The first task is to settle on letter writers. I can write one letter, an we can discuss who you should ask for the other 2 you will need. You need to request the letters at least one month ahead of the deadline to give your letter writers time to prepare a good letter. Make sure to give them a firm deadline for submitting the letter.</p>
<p>We will also discuss what the focus of your research statement should be. Please set up an appointment with me a month ahead of the deadline for this, and  send me a draft of your statement of purpose 2 weeks before the deadline, so we can iterate on it. Please see the <a href="WritingPapers.jinja.html">Writing Papers</a> document for basic advice on writing.</p>
<h2><a name="recs"></a>Recommendations</h2>
<p>Here are some tips about getting good letters of recommendation. If you would like a letter from me, these are my expectations. However, all of this is good advice to follow when asking for a letter from anyone. The easier you make it for your letter writers to do their job, the more time they are likely to spending writing you a good recommendation.</p>
<ul>
  <li><strong>Contact me at least 1 month in advance.</strong> If you would like me to write you a letter of recommendations, please contact me as early as possible in the application process. This will provide ample time for me to write a well thought-out letter and to look over your materials, review your academic record, etc. At a minimum you should contact me a month ahead of when when the letter needs to be complete. In some cases this much lead time is not possible. Generally, it is possible to work something out in those cases. This applies even if I've written a letter for your previously, don't assume it's ready to go for a new round of job/internship/school/fellowship applicaitons. I'll need to time to refresh the letter, and it takes only marginally less time than doing it the first time.</li>
  <li><strong>Please provide me a digital copy of your applications materials. </strong>In order to write a good letter for you, I need to know as much as possible about your background, experience, and goals. I will have had some experience with you, of course, but if I have a broader picture of you, I can write a better letter. To that end, please provide me a digital copy of the following as quickly as possible:
    <ol>
      <li>Any statements or essays you've written as part of your application.</li>
      <li>Your resume or CV.</li>
      <li>An un-official transcript.</li>
      <li>Your student number.</li>
      <li>A example of the cover letter you'll be including with you application(s).</li>
      <li>The names of anyone else writing you a letter for same application.</li>
      <li>A link to your personal home page, if you have one.</li>
      <li>Links to/descriptions of any CS/CE-related projects you've completed on your own.</li>
      <li>Links to/descriptions of any research projects you've been involved in.</li>
      <li>Copies of any papers you've published (i.e., on which your name appears as an author).</li>
      <li>A brief note describing any extenuating circumstances I should be aware of.</li></ol></li>
</ul>
<ul>
  <li/><strong>Make sure I have your materials before I write the letter.</strong> In most cases, you'll enter my name into some online form and an automated system will request my letter. You need to provide me with the above information <em>before </em>I receive the solicitation. Once the solicitation shows up I'll write the letter whenever I have a few spare moments. If I don't have your materials, I won't be able to use them.
  <li/><strong>Let me know what you are applying for. </strong>Include a link or document describing the fellowship, job, etc. that you are applying for.  Again, the more I know, the better letter I can write.
  <li/><strong>Make it easy for me to submit the letters.</strong> Please provide me with a <em>single, </em>detailed list of when and where the I need to submit the letters. Include the deadline and submission format (postal mail, online, etc.). If the letters need to be mailed, please provide me with addressed, stamped envelopes at least one week ahead of the deadline.
    <li/><strong>Help me track the letters I need to write for you.</strong>
If I'm writing multiple letters for you, please create a google doc that tracks where they need to go and how I should submit. Also give me a column to note when I've submitted the letters. This spreadsheet will help all your letter writes keep track of what they neeed to do. An example spreadsheet (which you are welcome to copy) is <a href="http://goo.gl/AtqdM">here</a>.
    <li/><strong>Follow up before the deadline.</strong> Letter writers are busy people, and it's always possible that your letter might slip their mind. It's a good idea to follow up with your letter writers a week or so before the first deadline to see if they need any more information from you.
    <li/><strong>Let them know how it went.</strong> Your letter writers are eager to hear about how your application process turned out. Drop them a quick line when it's all through to let them know.
    
      <p>&nbsp;</p>
  </ul>

<h2><a name="jobs" id="jobs"></a>Applying for an Academic/Research Lab Job</h2>

<p>Appyling for academic and research lab jobs requires a fair amount of work
and you will benefit if you start preparing long in advance.  During this
process, you will need to perform the following tasks (start early):</p>

<ul>
  <li>Keep track of your peers (i.e., other grad students at about your stage in their degrees) in your area.  You need to know when they plan to go on the job market, and, more important, if they are on the market at the same time as yourself.</li>
  <li>For each of these peers (and yourself), look up their "i-index" and "h-index" on google scholar.  Put this information in a spreadsheet that you share with me.</li>
  <li>For each of these peers (and yourself), look at their list of papers.
  For the papers in top conferences, use the portal to compare the number of
  citations to date for that paper and how it compares to the other papers from
  the same conference.  In particular, you want to know where the paper falls in the ranked order of that conference's papers (e.g., is a paper the most cited paper from that conference that year).  Summarize this information in the same spread sheet.</li>
  <li>Identify the schools that are looking for people in your area and identify the subset that you would like to apply to.  We should discuss what criteria you should use.  Put this information in a spreadsheet.</li>
  <li>For each school you will apply to, collect a list of faculty working in your area (and related areas) along with their email addresses.  Add this information to the above spreadsheet.  It is important that it be formatted so I can easily copy the list of email addresses and paste it into my mail client.  This means a comma-separated list of plain email addresses.</li>
</ul>


<h2><a name="TapingTalks" id="TapingTalks"></a>Taping Talks</h2>
<p>Taping a practice talk is a useful exercise. It will allow you to fix a wide range of problems in your talk very quickly.</p>
<p>We use the taped talks in two ways. First, you can watch yourself and identify problems with your delivery. Students have told me that they've noticed distracting mannerisms, needless repetition in their words, and inconsistencies in their slides by watching themselves given their talk. I will also watch the video with you. This allows me to give more detailed feedback than is possible while you are giving a talk to me.</p>
<p>Our lab has a video camera expressly for this purpose, and you are welcome to use it. You may also use a camera of your own. However, the audio must be good enough to hear you clearly and the picture must be good enough to see your face and your slides distinctly. Details for using the lab camera are below.</p>
<h3>Practical details</h3>
<ul>
  <li>The camera lives in 4219 along with it's tripod, charger, etc. <strong>The camera should not leave 4219 unless you clear it with me first. </strong>If you can't find the camera, let me know immediately. </li>
  <li>4219 has a card key lock on the door. If  you don't have access, send email to Robin Knox (rsknox@ucsd.edu) and CC me. </li>
  <li>There is a google calendar called &quot;Video camera schedule&quot; that we use to schedule access to the camera. This is not usually a problem, but occasionally many people are preparing talks at once. If don't have access to the calendar, talk to one of the other students in the group or drop me a line. Anyone can add you.</li>
  <li> You will also need a 4GB SD card to hold you talk, you can buy one at the bookstore or borrow one from one of the other students.</li>
  <li>To record your talk you'll need to insert your SD card. This is a bit cumbersome because the door that covers the SD slot is underneath the quick-release tripod mount. The tripod mount is a bit tricky. Don't force it -- try something else gently. The camera is pretty self-explanatory. Set up the tripod at the back of the room.</li>
  <li>4219 also has a projector screen and a projector. Use them to display your slides.</li>
  <li>Once you've recorded your talk, remove your SD card put the camera/tripod back where you found it.</li>
  <li>The camcorder records in the AVCHD format. Media player should play it under windows. iMovie can read it for Macs. Linux, I'm not to sure about. If you need a card reader, ask around among the grad students there are many of them floating around.</li>
  <li><strong>Important</strong>: Please email me your slides ahead of time (or otherwise make them available from my computer) so I have them when we watch the video.</li>
</ul>
<h2><a name="Laptops" id="Laptops"></a>Laptop Policy</h2>
<p>Here's laptop policy for my students:</p>
<ol>
  <li> After I've been your primary graduate advisor for two years (and we expect that state of affairs to continue), you can ask for a laptop as soon as you'd like one.  If you have a workable laptop of your own, it's probably a good idea to wait (see #2).</li>
  <li>I'll pay for one laptop during your grad school career.</li>
  <li>If you've received and still have the use of another university laptop in the last 3 years, you'll need to wait until the laptop is at least 3 years old.</li>
  <li>Once you have a laptop, it should become your primary computer for school work. This means that unless you have a specific need for a desktop machine, your desktop machine may get repurposed (just the CPU, not the monitor and keyboard etc).</li>
  <li>You can choose your laptop as long as it stays within a budget.  Currently, the budget is $1750.  It will track market conditions.</li>
  <li>This is a work laptop and is owned by the university.  You are free to use it for personal stuff within university policy.  It's your responsibility to know what university policy is.  (Remember, the university has a potential claim on any work you do on university computers.)</li>
  <li>Some things to keep in mind about choosing a laptop.
    <ol>
      <li>The purpose of the laptop is to help you do better research. When you are selecting your laptop please keep that in mind (e.g., I will look very closely at requests for Alienware gaming laptops :-)</li>
      <li>This makes it a reasonable expectation for you to take your laptop with you in many instances (conferences, meetings, etc), so it should be light enough that you are willing to haul it around.</li>
      <li>It needs to be able to display to VGA, if you need an adaptor to make that work, you need to budget for it.</li>
      <li>It'd be nice if it could display to DVI as well.</li>
      <li>It needs to have at least 4GB of ram.</li>
      <li>It needs to run power point.  Open office is not an alternative.</li>
      <li>Your budget should include MS office.</li>
      <li>Consider getting a second power brick.  It'll save you hauling it around.  You should always have a power brick handy (e.g., at school and on the road).</li>
      <li>You can include in your budget any other computer accessories you'd like as well, with in reason.</li>
      <li>It needs to be a reputable, main-stream brand.</li>
      <li>Make sure you look into edu discounts.</li>
      <li>Make sure it has a comfortably large keyboard.</li>
      <li>No netbooks. They aren't real computers.</li>
    </ol>
  </li>
  <li>As with everything, this is subject to there being money to pay for it. If I'm tight on funds, you may have to wait. Keeping the lights on and paying students takes precedence over laptops.</li>
  <li>Also keep in mind that the money we spend on laptops takes away from other things we could be doing. If you have a laptop and are happy with it, consider waiting to ask for a new one. This doesn't mean you should keep using some 5 year old clunker you got on Craig's list, but if it won't really improve your productivity (with respect to doing laptopy things), it's a waste of lab resources.</li>
</ol>
<h2><a name="Seminar"></a>Running the Architecture Seminar</h2>
<p>Each quarter (except during the summer, when it's not held), someone (usually a student) organizes the architecture seminar. If it's you, here's a summary of what you need to do.</p>
<ul>
  <li>Three weeks before (if possible) the start of the quarter
    <ol>
      <li>Contact the previous organizer to get a copy of the web page for the previous iteration of the seminar, so you can re-use it for this quarter.</li>
      <li>Update the schedule to reflect the dates for the quarter. Be sure to leave off any holidays. Check the university's academic calendar.</li>
      <li>Send an email to the architecture professors (Dean, Steve, and Mike) asking for a list of 10 papers they'd like to have included in the reading list.</li>
      <li>Collect the bibliographic information and a link to a pdf for each paper and add them to the web site.</li>
      <li>Email Steve to find out where it will be held.</li>
      <li>By default, the seminar is Thursday at 11:30.  It's usually in 4140.</li>
    </ol>
  </li>
  <li>One week before
    <ol>
      <li>Send out an adventisement to cse-people announcing the seminar. </li>
      <li>Upload the web site to web space for the seminar. If necessary, send email to support asking access to the course web directory. CC Steve.</li>
    </ol>
  </li>
  <li> First class meeting
    <ol>
      <li>If we have delayed the start of the course by one week, you should put up a sign on the door of room letting students know that they should come back next week.</li>
      <li>Go over the format of the seminar by going through the description at the top of the web page.</li>
      <li>Assign papers</li>
      <li>Update the web page with schedule of papers and speakers</li>
      <li>Remind the attendees that there are no laptops allowed.</li>
      <li>Emphasize that they need to read the paper.</li>
    </ol>
  </li>
  <li> At each seminar
    <ol>
      <li>You are in charge of running the seminar</li>
      <li>Let the speaker know when they should start (probably 5 min after the schedule start of seminar)</li>
      <li>Helping to lead the discussion.</li>
      </ol>
  </li>
  </ul>
<h2><a name="semiannual"></a>Semi-Annual Reviews</h2>
<p>I typically meet with my grad students every six months to discuss their progress through the program, their development as researchers, and their goals for the next six months. One of these reviews is in conjunction with the department's annual review of progress in the Spring.  The other is in December or January.</p>
<h3 >Your Tasks</h3>
<p >Ahead of the meeting I would like you to spend some time thinking about how your work/grad school experience has been going, how you would like it to improve, and how we can make that happen.  Things to think about are (but are not limited to):</p>
<ol>
  <li> Do you feel like you are making adequate progress toward your degree?</li>
  <li> Are you enjoying your research?</li>
  <li> What's the biggest impediment to you making better progress and enjoying your research more?</li>
  <li> How are you feeling about your life in graduate school?</li>
  <li> What are your plans after graduation?</li>
  <li> What are your plans for next summer?</li>
  <li> Is there anything outside of school that you'd like me to know about that might affect your research or course work (e.g., important family events)?</li>
</ol>
<p>A second goal of this review is to understand how we can improve how we do research.  I've thought hard about how to plan and execute more effectively, and I would really appreciate any input you have about how we might make ourselves more effective.  This may include criticisms of how I've managed things in the past, and I welcome those especially (as long as they are civil ;-).  To that end you should also think about:</p>
<ol>
  <li> What aspects of the current management system are working well?</li>
  <li> How can I do a better of managing the group?</li>
</ol>
<p>Your honest input here is very important.  I would like to change some things about how we go about our work, and without your input we may fix things that aren't broken and break things that work fine.</p>
<p>Finally, I would like you to write up a summary and self-evaluation of what you have accomplished since our last meeting (if this is our first of these meetings, summarize the time since you joined the lab).  This will give you a chance to critically reflect on your performance and will provide a record of your time in grad school that will be useful to both of us during your eventual job search.<br />
</p>
<p> The write up should include (you do not need to write up the answers to the questions above):</p>
<ol>
  <li> A bulleted list of your key research accomplishments and activities.</li>
  <li> A bulleted list of any other accomplishments and activities (TAing, etc.).</li>
  <li> A section describing three things that you think you have done well in since the last meeting.  Be specific.</li>
  <li> A section describing three things that you would like to do better between now and our next meeting.  Be specific, and provide concrete criteria for how you will evaluate your improvement.</li>
  <li> An evaluation of how well you have address the items above from you previous write up.  Use the criteria you set for yourself.</li>
</ol>
<p>Please keep it to under 2 pages (if possible), and make sure it clearly written and free of grammatical errors and typos.  This should be an example of your most thoughtful work and best writing.  Make sure your name is at the top along with the date.</p>
<p>Please email your write up to me as Word document (preferred) or text file <strong>at least two days before our meeting</strong>.  Use the subject &quot;[Semiannual Review] &lt;Your name&gt; &lt;4 digit year&gt;-&lt;2 digit month&gt;&quot; and the file name &quot;&lt;Your name&gt;-&lt;4 digit year&gt;-&lt;2 digit month&gt;-review.&lt;doc/txt&gt;&quot;. For instance: &quot;[Semiannual Review] Steven Swanson 2013-01&quot; and &quot;Steven Swanson-2013-01.doc&quot;. Be sure to save a copy for your records. </p>

<h2><a name="faculty"></a>Scheduling Meetings with Multiple Faculty</h2>
<p>If you need to schedule a meeting (e.g., thesis defense/proposal or research exam) with multilpe faculty, please follow this procedure:</p>

<ol><li>Pick one member of the committee that must be present (e.g., the chair) and ask them for their availability during a 1-2 week period.</li>
  <li>Use this information to build a <a href="http://www.doodle.com">Doodle</a> that only contains the times when you and the committee member  are both available.</li>
  <li>Send the doodle to the rest of the members of your committee</li>
</ol>

<p>This process keeps the size of the doodle small and managable.  You shouldn't send out doodles that have more than 10 possible times.  Filling out large doodles is too much of an unnecessary burden to place on your committee.</p>


{% endblock smithers_content %}
