{% extends "smithers_page.jinja.html" %}
{% block smithers_content %}
<h1></a>Weekly Progress Reports</h1>

<p>You should submit weekly progress reports via the lab's <a href="{{url_for('student_ops.submit_report')}}">online progress reporting system.</a></p>
<h2>Goals</h2>

<p>Submitting these reports will take time and require some effort, but my hope is that they will pay off in other ways:</p>
<ol>
    <li><b>More efficient meetings:</b> Since the reports are filed before the meetings, I can read about what you've done rather having you explain it.  Then, we can spend more time discussing solutions, next steps, etc.</li>
    <li><b>Clear record of progress:</b> The reports will provide a record of what you've been working on and how it's going.</li>
    <li><b>Continutity across meetings:</b> Having consistent reports should save time in our getting synchronized about what you are working on during each meeting.</li>
    <li><b>Writing practice:</b>  Preparing the reports will give you practice summarizing and presenting your work.  Much of my advice about <a href="{{url_for('student_ops.render_resource', file='WritingPapers.html')}}">writing papers</a> applies  to these reports.</li>
</ol>

<h2>The reports</h2>

<p>The report form has five sections.  Each week, the combination of these sections should provide a clear picture of what you are working, what's going well, what is not, and what the next steps are.</p>
<ol>
    <li><b>Current Goal:</b> This is the mid- to long-term goal or goals you are working.  Something like "complete the implementation of My Awesome Sysetm" or "Compele the data collection for our ISCA paper."</li>
    <li><b>Previous Weekly Goals</b> These are the goals you set for yourself last week.  These are copied from the previous report.</li>
    <li><b>Weekly Progress:</b> A description of what you've accomplished during the week.  This should be a description of what you have accomplished or produced (e.g., data produced, conclusions reached, questions raised, goals completed) rather than a narrative of what you did during the week.  Please includes graphs, screenshots, or other information as necessary.</li>
    <li><b>Problems Encountered</b> Describe any challenges you encountered and how they interefered with your ability to achieve the goals you set in the previous week.</li>
    <li><b>Next Weekly Goals:</b> What do you plan to accomplish in the coming week?  This should be a bulleted list of concrete, measurable goals.  This field is copied from the previous weeks goals.  For goals you have completed, strike them out.  Add any new goals you are setting for yourself, and delete previously struck-out goals.</li>
</ol>

<p>Your reports should easy to read and understand.  The HTML editor you will use to enter the reports is pretty sophisticated.  It allows for embedding images, etc.  Please make use of this to include graphs and data.  Nothing makes an advisor happier than graphs!</p>

<h2>Deadlines</h2>

<p>Filing weekly reports is not optional.  Reports are due at 2am on the morning of your usual weekly meeting (even if the meeting has been canceled because I'm out of town), and you can submit your report up to 24 hours prior to that time.  If you don't submit your report, your meeting is canceled (or, if there are multilpe students in your meeting, you should not attend), and I will assume you don't have anything to report (which means you have made no progress that week).  You don't want that and neither do I.  Please submit your reports!</p>

<p>The system should send you a reminder at about 8pm the night before the report is due.</p>

{% endblock smithers_content %}
