{% extends "smithers_page.jinja.html" %}
{% block smithers_content %}

<h1><a name="semiannual"></a>Semi-Annual Reviews</h1>
<p>I typically meet with my grad students every six months to discuss their progress through the program, their development as researchers, and their goals for the next six months. One of these reviews is in conjunction with the department's annual review of progress in the Spring.  The other is in December or January.</p>
<h2>Think About Grad School</h2>
<p >Ahead of the meeting I would like you to review your progress report since the last semi-annual review and spend some time thinking about how your work/grad school experience has been going, how you would like it to improve, and how we can make that happen.  Things to think about are (but are not limited to):</p>
<ol>
  <li> Do you feel like you are making adequate progress toward your degree?</li>
  <li> Are you enjoying your research?</li>
  <li> What's the biggest impediment to you making better progress and enjoying your research more?</li>
  <li> How are you feeling about your life in graduate school?</li>
  <li> What are your plans after graduation?</li>
  <li> What are your plans for next summer?</li>
  <li> Is there anything outside of school that you'd like me to know about that might affect your research or course work (e.g., important family events)?</li>
</ol>
<p>A second goal of this review is to understand how we can improve how we do research.  I've thought hard about how to plan and execute more effectively, and I would really appreciate any input you have about how we might make ourselves more effective.  This may include criticisms of how I've managed things in the past, and I welcome those especially (as long as they are civil ;-).  To that end you should also think about:</p>
<ol>
  <li> What aspects of the current management system are working well?</li>
  <li> How can I do a better of managing the group?</li>
  <li>In particular, I'd like to know what you think about the current meeting structure and the progress reporting tool.</li>
</ol>
<p>Your honest input here is very important.  I would like to change some things about how we go about our work, and without your input we may fix things that aren't broken and break things that work fine.</p>
<p>Finally, I would like you to write up a summary and self-evaluation of what you have accomplished since our last meeting (if this is our first of these meetings, summarize the time since you joined the lab).  This will give you a chance to critically reflect on your performance and will provide a record of your time in grad school that will be useful to both of us during your eventual job search.<br />
</p>
<h2>Write Up</h2>
<p> The write up should include the following (you do not need to write up the answers to the questions above):</p>
<ol>
  <li> What year you are in the program (1st, 2nd, etc.)</li>
  <li> A bulleted list of your key research accomplishments and activities.</li>
  <li> A bulleted list of any other accomplishments and activities (TAing, etc.).</li>
  <li> A section describing three things that you think you have done well in since the last meeting.  Be specific.</li>
  <li> A section describing three things that you would like to do better between now and our next semi-annual.  Be specific, and provide concrete criteria for how you will evaluate your improvement.</li>
  <li> An evaluation of how well you have addressed the items above from your most recent write up.  Use the criteria you set for yourself.</li>
  <li> A bibliographic listing of your pubs to date.</li>
  <li> Your next departmental deadline (e.g., when your research exam or thesis proposal must be complete).</li>
  <li> A brief list of classes you still need to take and when you expect to complete them.</li>
</ol>
<p>Please keep it to under 1000 words, and make sure it clearly written and free of grammatical errors and typos.  This should be an example of your most thoughtful work and best writing.</p>

<h2>Logistics</h2>

<p>Schedule a meeting time.  Appoint slots are available on the NVSL calendar (<a href="https://calendar.google.com/calendar/selfsched?sstoken=UUtvc2ljd0x6SlAwfGRlZmF1bHR8NzliZDBjZjA1NjRlNjlmNzc0MjFiYzc3ZWU4OGEzNDE"><span class="glyphicon glyphicon-calendar"></span></a>).</p>

<p>Include your write up in the "Other Issues" section of your weekly progress report prior to our meeting.</p>

<p>This document is available from the "Resources" menu, if you need to refer to it.</p>

<p>You can quickly find your last semi-annual report by clicking "Previous reports" on the report submissions page or by clicking <a href="{{url_for("student_ops.latest_semiannual_report", student_key=user.key.urlsafe())}}">here</a></p>

{% if form %}
{{ wtf.quick_form(form) }}
{% endif %}

{% endblock smithers_content %}
