{% extends "smithers_page.jinja.html" %}
{% block smithers_content %}
<h1><a name="Travel" id="Travel"></a>Travel</h1>
<p>From time to time, you'll be able to attend conferences and/or present papers. Typically, if you are paper author I'll send you to the conference  if it's in the US. If you are presenting the paper (usually the first author), you will  go regardless of where it is. Subject to the availability of funding and university policy, I'll cover your flight, your hotel during the conference, conference registration, ground transportation, and food. In making your travel arrangements I expect you to book travel frugally and as if you are spending your own money (The one exception to this is that you should stay in the conference hotel, even though it's usually expensive). For instance, you should </p>
<ol>
  <li>Make travel arrangements  well in advance. </li>
  <li>Share a hotel room with another student of the same gender, when possible.</li>
  <li>Share cabs, etc. when possible.</li>
  <li>Plan to spend  less than $900 <em>total</em> for a domestic conference.  If it is going to cost more than this, let me know.</li>
  <li>Discuss with me the budget for international travel as soon as you hear that the paper will appear at the conference.</li>
  <li>Apply for all available travel grants to help defray you travel expenses.</li>
</ol>
{% endblock smithers_content %}
