{% extends "smithers_page.jinja.html" %}
{% block smithers_content %}

<h1>Time Off</h1>
<h1><small>(Grad students only)</small></h1>
<p>The  group's vacation policy for student researchers reflects three competing goals: 1) The importance of time off to recharge, enjoy ourselves, and take advantage of the flexible schedule that grad school offers and 2) the need to get work done, and 3) my legal accountability for how employees funded my grants spend their time.  Here is the policy:</p>
<ol>
  <li>You have two weeks plus one day (i.e., 11 week days) of flexible vacation time. You&nbsp;<em>must </em>get it approved by all your advisors before you book tickets or take any other non-reversible action.</li>
  <li>To provide more flexibility in when you work, six days (one week + 1 days) of your flexible vacation time correspond to the annual school holidays (Veteran's Day, Martin Luther King Jr. Day, President's Day, Cesar Chavez Day, Memorial Day, and Labor Day).  You are free to spend them on these day or at other times.  You should not assume that meetings etc. will be canceled on these holidays, and if there is a paper deadline, you should, in particular, expect to be working.</li>
  <li>You get two floating weeks of flex time during your graduate school career. They must be taken 1 or 2 weeks at a time. These are meant to accomodate once-in-a-lifetime things (e.g. weddings, honeymoons), but you can use them for anything.</li>
  <li>You get the two weeks before the first day of instruction in Winter Quarter (e.g. Dec 19 - Jan 2). Check the <a href="http://blink.ucsd.edu/instructors/resources/academic/calendars/2011.html">offical UCSD academic calendar</a> for dates in a given year. These dates are not flexible. This ensures that group members are on vacation at the same time. You may not borrow days from this period.</li>
  <li>You get the Thursday and Friday of Thanksgiving week off and the 4th of July. These dates are not flexible. You may not borrow days from this period.</li>
  <li>You cannot exchange the standard days in for more flex days.</li>
  <li>Your flex-time includes any days you are not in the office and working (e.g., family visits, traveling a day early for a long weekend).</li>
  <li>Your flex-time includes extracurricular activities and accidental absences including false imprisonment/jail time (it's happened!), visa delays, political protests, etc. If necessary, you may borrow from a future year's flexible days to cover unexpected circumstances. </li>
  <li>Jury duty doesn't count towards your flex days, but you should do your best to defer it to a time when it will not conflict with a paper deadline.</li>
  <li>During your last year or so, you should expect to take less vacation than normal. You'll be very busy interviewing, writing your thesis, etc. </li>
  <li>It may be important for you to be around campus at the beginning of each term because there are forms that need to be filled out (e.g., for visas). It's up to you to make sure you know what needs to be signed when. A good guide is to be back by the &quot;instruction begins&quot; date on the&nbsp;<a href="http://blink.ucsd.edu/instructors/resources/academic/calendars/2011.html">offical UCSD academic calendar</a>.</li>
  <li>The month (or longer) preceding paper deadlines that you are working toward is generally off limits for flexible vacation time.</li>
  <li>Getting cheaper flights, etc., is not an excuse for exceeding your allotment of vacation time.</li>
  <li>Travel to work-related conferences does not count as vacation.</li>
  <li>You must enter days you are planning to be absent in the NVSL calendar.</li>
  <li>If you are co-advised, your other advisor(s) may have different vacation policies. If they conflict in some way, you need to discuss it with me.</li>
  <li>If any of the above conflicts with university policy, university policy takes precedence.  If you feel this is the case, please discuss it with me.</li>
</ol>


{% endblock smithers_content %}
