{% import 'admin_table.html.jinja' as admin_table %}
{% extends "admin_page.html.jinja" %}
{% block title %}User: {{user.get_username()}}{% endblock title%}

{% block content %}
<h1>User: {{user.get_username()}}</h1>

{{ admin_table.render_list(user_attrs) }}
{% endblock content %}

{% block style %}
{{super()}}
{% endblock style %}
