{% extends "smithers_page.jinja.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Submit Report{% endblock title%}


{% block smithers_content %}
{% if is_new_report %}
<h1>Submit Report for {{display_user.compute_next_due_date().strftime("%d %B %Y")}}</h1>

{% if display_user.is_report_due() %}
<p class="form-notification">This report is due at {{display_user.compute_next_due_date().strftime("%H:%M%p on %d %B %Y")}}.</p>
{% else %}
<p class="form-notification">You can submit at {{display_user.compute_next_submission_time().strftime("%H:%M%p on %d %B %Y")}}; it is due at {{display_user.compute_next_due_date().strftime("%H:%M%p on %d %B %Y")}}.</p>
{% endif %}

{% else %}
<h1>{% if display_user != current_user %} {{display_user.full_name}}: {% endif %} {{the_report.report_for_date.strftime(" %d %B %Y").replace(" 0", " ")}}</h1>
{% endif %}

{{ alerts() }}


<form class="form form-horizontal">
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <div class="btn-group" role="group">
                <button type="button" {% if not next_report %}disabled{% endif %} class="btn btn-default" onclick="location.href='{{next_report}}';">Next</button>
                <button type="button" {% if not prev_report %}disabled{% endif %} class="btn btn-default" onclick="location.href='{{prev_report}}';">Prev</button>
            </div>
        </div>
    </div>
</form>

{{ wtf.quick_form(form, form_type="horizontal") }}

{% endblock smithers_content %}

