{% extends "smithers_page.jinja.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Submit Report{% endblock title%}

{% block body_attribs %}
onload="load_editors()"
{% endblock body_attribs %}

{% block smithers_content %}
{% if is_new_report %}
<h1>Submit Report for {{display_user.compute_next_due_date().strftime("%d %B %Y")}}</h1>

{% if display_user.is_report_due() %}
<p class="form-notification">This is your new report.  It is due at {{display_user.compute_next_due_date().strftime("%H:%M%p on %d %B %Y")}}.</p>
{% else %}
<p class="form-notification">This is your new report.  It is not due yet.  You can submit at {{display_user.compute_next_submission_time().strftime("%H:%M%p on %d %B %Y")}}. It is due at {{display_user.compute_next_due_date().strftime("%H:%M%p on %d %B %Y")}}.</p>
{% endif %}

{% else %}
{% if is_previous_report %}
<p class="form-notification">This report has already been submitted.  You can update your long-term and weekly goals until you submit your next report.</p>
{% endif %}
<h1>{% if display_user != current_user %} {{display_user.get_display_name()}}: {% endif %} Report for {{the_report.report_for_date.strftime(" %d %B %Y").replace(" 0", " ")}}</h1>
{% endif %}

{{ alerts() }}


<form class="form a-form-horizontal">
    <div class="form-group">
        <div class="acol-lg-offset-2 acol-lg-10">
            <div class="btn-group" role="group">
                <button type="button" {% if not next_report %}disabled{% endif %} class="btn btn-default" onclick="location.href='{{next_report}}';">Next</button>
                <button type="button" {% if not prev_report %}disabled{% endif %} class="btn btn-default" onclick="location.href='{{prev_report}}';">Prev</button>
            </div>
        </div>
    </div>
</form>


{% if is_new_report or is_previous_report %}
<p><a href="{{url_for('student_ops.render_resource', file='ProgressReports.html')}}"><i>Questions? Read the report guidelines!</i></a></p>

{{ render_editable_report(form) }}

{{ edit_entity_button(display_user, "Edit User")}}
{% if is_previous_report %}
{{ edit_entity_button(the_report, "Edit Report")}}
{% endif %}

{% else %}
{{ render_completed_report(form) }}
{{ edit_entity_button(the_report, "Edit Report")}}
{{ edit_entity_button(display_user, "Edit User")}}
{% endif %}

<script type="text/javascript">

    function load_editors() {
        $(".report-form textarea").each(function (i, e) {
            if ($(e).attr("id") !== "disp_previous_weekly_goals") {
                window.CKEDITOR.replace($(e).attr("id"), {
                    filebrowserUploadUrl: '/cke/upload',
                    filebrowserImageUploadUrl: '/cke/upload'
                })
            }
        });
    }
</script>

<style>
    .report-body {
        clear:both;
        overflow:hidden;
    }

    .report-form label {
        	color:rgba(0,0,204,1);
	font-weight: normal;
	font-size: 1.8em;
	margin-top:0.5em;
	margin-bottom:0.5em;

    }
</style>

{% endblock smithers_content %}

