{% extends "smithers_page.html.jinja" %}
{% import 'admin_table.html.jinja' as admin_table %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Submit Report{% endblock title%}

{% block navbar_content %}
    {{ super() }}
    <form class="navbar-form navbar-left">
        <div class="btn-group" role="group">
        <button type="button" {% if not next_report %}disabled{% endif %} class="btn btn-default" onclick="location.href='{{next_report}}';">Next</button>
        <button type="button" {% if not prev_report %}disabled{% endif %} class="btn btn-default" onclick="location.href='{{prev_report}}';">Prev</button>
        </div>
    </form>
{% endblock navbar_content %}

{% block smithers_content %}
   {% if is_new_report %}
   <h1>Submit Report</h1>
   {% else %}
   <h1>Report from {{the_report.created.strftime("%d %b")}}</h1>
   {% endif %}

   {{ wtf.quick_form(form, form_type="horizontal") }}

    {% if error %}
    <p class="form-error" style="color:red; font-style: italic">{{error}}</p>
    {% endif %}
    {% if notification %}
    <p class="form-notification" style="color:darkgreen; font-style: italic">{{notification}}</p>
    {% endif %}

{% endblock smithers_content %}

