{{user.full_name}} submitted an update at {{report.created.strftime("%r")}} on {{report.created.strftime("%b %d, %Y")}}:

Long term goal
--------------
{{report.long_term_goal}}

Previous Weekly Goals
---------------------
{{report.previous_weekly_goals}}

Progress Made
-------------
{{report.progress_made}}

Problems Encountered
--------------------
{{report.problems_encountered}}

Goals for Next Week
-------------------
{{report.next_weekly_goals}}

{{report_url}}

--smithers

