{% extends "smithers_page.jinja.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{display_user.full_name}} {% if the_report %}: {{the_report.report_for_date.strftime(" %d %B %Y").replace(" 0", " ")}}{% endif %}{% endblock title%}

{% block body_attribs %}
onload="load_editors()"
{% endblock body_attribs %}

{% block smithers_content %}


{% if is_previous_report %}
<p class="form-notification">This report has already been submitted.  You can update your long-term and weekly goals until you submit your next report.</p>
{% endif %}

{% if display_user %}
    <h1>
        <a href="{{url_for('.view_user', user_key=display_user.key.urlsafe())}}">
            {{display_user.get_display_name()}}
        </a>
    </h1>
{% endif %}



<form class="form report-form">
    <!--div class="form-group">
        <div class="acol-lg-offset-2 acol-lg-10">
            <div class="btn-group" role="group">
                <button type="button" {% if not prev_report %}disabled{% endif %} class="btn btn-default" onclick="location.href='{{prev_report}}';"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></button>

                <div class="btn-group">
                    <button type="button" class="btn btn-default {% if the_report %}dropdown-toggle{% endif %}" {% if not the_report %}disabled{% endif %} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="location.href='#';">{{dropdown_label}}{% if all_reports | length %} <span class="caret">{% endif %}
                    </button>
                    {% if the_report %}
                        <ul class="dropdown-menu">
                            {% for r, d in all_reports %}
                                <li {% if r == the_report %}class="active"{% endif %} >
                                    <a href="{{url_for('.view_report', day=day, report_key=r.key.urlsafe())}}">{{d}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {%endif%}
                </div>

                <button type="button" {% if not next_report %}disabled{% endif %} class="btn btn-default" onclick="location.href='{{next_report}}';"><span class="glyphicon glyphicon-menu-right"  aria-hidden="true"></span></button>
            </div>
            {% if allow_edit %}
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" onclick='location.href="{{update_url}}";'>Update Report</button>
            </div>
            {% endif %}
        </div>
    </div-->

    {% if the_report %}
    <div>Submitted {{the_report.local_created_time().strftime("%H:%M%p on %A, %d %B")}}</div>
    <hr/>

    {{ render_completed_report_body(display_user, form) }}

    {{ list_attachments(attachments, allow_delete=False) }}
    {% endif %}
</form>


{% if the_report %}

{% if is_advisor %}
<hr/>
<form class="form report-form from-horizontal" action="{{url_for('.update_advisor_comments', report_key=the_report.key.urlsafe())}}"
                method="POST"
                role="form">

            {{ wtf.form_field(form.advisor_comments, form_type='basic', horizontal_columns=('lg', 2, 10))}}
            {{ wtf.form_field(form.save, button_map={"save" : "primary"}) }}
</form>
<hr/>
{% endif %}


{{ edit_entity_button(the_report, "Raw Edit Report")}}
{% endif %}
{{ load_editor() }}


<style>
    .report-body {
        clear:both;
        overflow:hidden;
    }

    ul.dropdown-menu a {
        text-decoration: none
    }
</style>

{% endblock smithers_content %}

{% block scripts %}
    {{ super() }}
    <!--script>
        delete Hammer.defaults.cssProps.userSelect;
        function is_touch_device() {
             return !!('ontouchstart' in window);
        }
        if (is_touch_device()) {
            var hammertime = new Hammer($("body")[0], {});
            {%
                if next_report %}
            hammertime.on('swipeleft', function (ev) {
                window.location.href = '{{next_report}}';
            });
            {% endif %}

            {%
                if prev_report %}
            hammertime.on('swiperight', function (ev) {
                window.location.href = '{{prev_report}}';
            });
            {% endif %}
        }
    </script-->
{% endblock scripts %}
