{% extends "smithers_page.jinja.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{display_user.full_name}}: {{the_report.report_for_date.strftime(" %d %B %Y").replace(" 0", " ")}}{% endblock title%}

{% block body_attribs %}
onload="load_editors()"
{% endblock body_attribs %}

{% block smithers_content %}


{% if is_previous_report %}
<p class="form-notification">This report has already been submitted.  You can update your long-term and weekly goals until you submit your next report.</p>
{% endif %}
<h1><a href="{{url_for('.view_user', user_key=display_user.key.urlsafe())}}">{{display_user.get_display_name()}}</a></h1>


<form class="form report-form">
    <div class="form-group">
        <div class="acol-lg-offset-2 acol-lg-10">
            <div class="btn-group" role="group">
                <button type="button" {% if not prev_report %}disabled{% endif %} class="btn btn-default" onclick="location.href='{{prev_report}}';"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></button>

                <div class="btn-group">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="location.href='#';">{{the_report.report_for_date.strftime(" %d %B %Y").replace(" 0", " ")}} <span class="caret"></button>

                 <ul class="dropdown-menu">
                     {% for r in all_reports %}
                     <li {% if r == the_report %}class="active"{% endif %} >
                         <a href="{{url_for('.view_report', report_key=r.key.urlsafe())}}">{{r.report_for_date.strftime(" %d %B %Y").replace(" 0", " ")}}</a>
                     </li>
                     {% endfor %}
                 </ul>
                </div>

                <button type="button" {% if not next_report %}disabled{% endif %} class="btn btn-default" onclick="location.href='{{next_report}}';"><span class="glyphicon glyphicon-menu-right"  aria-hidden="true"></span></button>
            </div>
            {% if allow_edit %}
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" onclick='location.href="{{update_url}}";'><!-- span class="glyphicon glyphicon-pencil" aria-hidden="true"></span-->Update Report</button>
            </div>
            {% endif %}
        </div>
    </div>

    <div>Submitted {{the_report.local_created_time().strftime("%H:%M%p on %A, %d %B")}}</div>


    {{ render_completed_report_body(form) }}

    <h2>Attachments</h2>

    <table class="table">
    <tbody>
    {% for a in attachments %}
    <tr>
        <td>{{a.file_name}}</td>
        <td><a href="{{a.url}}"><span class="glyphicon glyphicon-eye-open"  aria-hidden="download"></span></a></td>
        <td><a href="{{a.url}}" download><span class="glyphicon glyphicon-download-alt"  aria-hidden="download"></span></a></td>
            </tr>
    {% endfor %}
    </tbody>
    </table>

</form>


{% if is_advisor %}
<hr/>
<form class="form report-form from-horizontal" action="{{url_for('.update_advisor_comments', report_key=the_report.key.urlsafe())}}"
                method="POST"
                role="form">

            {{ wtf.form_field(form.advisor_comments, form_type='basic', horizontal_columns=('lg', 2, 10), button_map=button_map)}}

            {% if form.save %}
            {{ wtf.form_field(form.save) }}
            {% endif %}
</form>
<hr/>
{% endif %}


{{ edit_entity_button(the_report, "Raw Edit Report")}}

{{ load_editor() }}

<style>
    .report-body {
        clear:both;
        overflow:hidden;
    }

    .report-form label {
        color:rgba(0,0,204,1);
	    font-weight: normal;
	    font-size: 1.8em;
	    margin-top:0.5em;
	    margin-bottom:0.5em;
    }
    ul.dropdown-menu a {
        text-decoration: none
    }
</style>

{% endblock smithers_content %}

