{% import 'admin_table.html.jinja' as admin_table %}
{% extends "admin_page.html.jinja" %}
{% block title %}Wrong Credentials{% endblock title%}

{% block content %}
<h1>Error: Invalid Credentials</h1>

You don't have the right credential for this operation. ({{target_url}})

<form action="{{logout_url}}">
    <button type="submit">Logout</button>
</form>

{% endblock content %}

{% block style %}
{{super()}}
{% endblock style %}

