.idea
venv
**log**
*.swp
**Jet.js
Components/
node_modules/
typings/
bower_components/
*.out
*.pyc
Jet2/
BOMGenerator/
deploy/
lib/
gspec_check_dep/
manifest.mf
*.pyc
\#*
*b\#?
*s\#?
*l\#?
*~
*log.txt
*gtron.txt
*gtron.log
.\#*
.egg-info
TAZI/
errors
out
*.vscode
apiclient
httplib2
uritemplate
urllib3
tsconfig.json
python_libs/
_datastore
deploy_*