/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

h1 {
  margin-bottom: 0.5em
}

.form-error {
  color:red;
  font-style: italic;
  font-weight: bold;

}

.form-notification {
  color:green;
  font-style: italic;
  font-weight: bold
}

h1 {
	color: rgba(0,0,204,1);
	font-weight: normal;
	font-size: 2.8em;
}

h2 {
	color:rgba(0,0,204,1);
	font-weight: normal;
	font-size: 1.8em;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

h3 {
	color:rgba(0,0,204,1);
	font-weight: normal;
}

a {
	color:black;
}
