/* Sticky footer styles
-------------------------------------------------- */
:root {
    --ucsd-dark-blue:rgba(24,43,73,1);
    --ucsd-blue: rgba(0,106,160,1);
    --ucsd-blue-highlight: rgba(0, 198, 215,1);

    --header-color: var(--ucsd-blue);
    --text-color: var(--ucsd-dark-blue);
    --highlight-color: var(--ucsd-blue-highlight);
}
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
    color: var(--ucsd-dark-blue);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

h1 {
  margin-bottom: 0.5em
}

.form-error {
  color:red;
  font-style: italic;
  font-weight: bold;

}
/* rgba(24,43,73,1) */

.form-notification {
  color:green;
  font-style: italic;
  font-weight: bold
}

h1, h2, h3 {
    color:var(--header-color);
}
h1 {

	font-weight: normal;
	font-size: 2.8em;
    text-decoration: none;
}

h2 {
	font-weight: normal;
	font-size: 1.8em;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

h3 {
	font-weight: normal;
}

a {
	color:var(--text-color);
    text-decoration: underline;
}

a:hover {
    color: var(--highlight-color);
}

/*.container a {
        text-decoration: underline;
}*/

a.btn {
        text-decoration: none;
}
.navbar-brand {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.report-body {
    clear:both;
    overflow:hidden;
}

.report-form label {
    color:var(--header-color);
    font-weight: normal;
    font-size: 1.8em;
    margin-top:0.5em;
    margin-bottom:0.5em;

}


h1 a {
    text-decoration: none;
    color: inherit;
}

h1 a:hover {
    text-decoration: none;
    color: var(--text-color);
}

.report-form textarea {
    visibility: hidden; display: none;
}

ins {
    color:green;
}
del {
    color:red;
}